<div class="left">
    <app-display [revealed]="reveal"></app-display>

    <div class="choices">
        <button class="choice" (click)="chose(option)" *ngFor="let option of options">{{option}}</button>        
    </div>
    <div *ngIf="options.length == 0" class="res">
        <p class="result" *ngIf="lastCorrect==true">Correct!</p>
        <p class="result" *ngIf="lastCorrect==false">Incorrect!</p>
        <button class="next" *ngIf="totalCorrect > 0 || totalMissed > 0" (click)="nextPokemon()">Next Pokemon</button>
        <button class="next" *ngIf="totalCorrect == 0 && totalMissed == 0" (click)="nextPokemon()">Start the Game</button>
    </div>
    
</div>
<div class="right">
    <div class="title">
        <img src="assets/logo.png">
        <div class="info">
            <p>By Scott Huffman</p>
            <div class="version">
                <p title="Mobile and tablet support coming soon" class="v">v0.8</p>
                <p>2018</p>
            </div>
        </div>
    </div>
    <div class="toggles">
        <button (click)="toggle(i)" *ngFor="let gen of settings.gens; let i = index" [class.active]="active[i]" >Gen {{i + 1}}</button>
    </div>
    <div class="scores">
        <div class="score-wrap score-wrap-left">
            <p class="text">Total Correct:</p>
            <p class="score">{{totalCorrect}}</p>
        </div>
        
        <div class="score-wrap score-wrap-right">
            <p class="text">Total Missed:</p>
            <p class="score">{{totalMissed}}</p>
        </div>
    </div>
</div>
